<button (click)="start()">
  Start
</button>

<button (click)="stop()">
  Stop
</button>

<pre>
  FPS: {{ fps }}

  Instructions:

  Left Thruster:  Left  trigger on controller OR left  arrow key
  Right Thruster: Right trigger on controller OR right arrow key
</pre>

<br>

<div class="demo-container">
  @if (currentState?.axes != null) {
    @for (axis of currentState?.axes; track $index) {
      <div class="row axis">
        <div class="number-value">
          <div
            class="bar"
            [class.negative]="axis < 0"
            [style.width.px]="axis >= 0 ? axis * 100 : axis * -100"
            [style.margin-left.px]="axis >= 0 ? 100 : 100 - axis * -100"
          ></div>
        </div>
      </div>
    }
  }


  @if (currentState?.buttons != null) {
    @for (button of currentState?.buttons; track index; let index = $index) {
      <div class="row button">
        <div class="bool-value {{button.pressed}}"></div>

        <div class="number-value">
          <div
            class="bar"
            [style.width.px]="button.value * 200"
          ></div>
        </div>

        {{ index }}
      </div>
    }
  }
</div>

<app-space-ship
  [thrustLeft]="triggerLeft"
  [thrustRight]="triggerRight"
/>

<router-outlet />
