:host {
  position: absolute;
  top: 0;
  left: 0;
}

.debug {
  font-size: 10px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  position: absolute;
  left: calc(var(--ship-width) * 2);
}

.spaceship {
  position: absolute;
  display: block;
  background-color: transparent;
  outline: 1px solid black;
  outline-offset: -1px;

  transform: translateX(var(--pos-x, 0)) translateY(var(--pos-y, 0)) rotate(var(--rotation-deg, 0deg));
}

.thruster {
  position: absolute;
  display: block;
  background-color: transparent;
  outline: 1px solid black;
  outline-offset: -1px;
  transform-origin: center center;
  transform: rotate(var(--rotation-deg, 0deg));

  &.thrusting {
    box-shadow: 0 calc(var(--thrust-intensity, 0.1) * 5px) 0 -0px orange,
    0 calc(var(--thrust-intensity, 0.1) * 10px) 0 -1px lighten(orange, 10),
    0 calc(var(--thrust-intensity, 0.1) * 15px) 0 -2px lighten(orange, 20),
    0 calc(var(--thrust-intensity, 0.1) * 20px) 0 -3px lighten(orange, 30);
  }
}
