<div
  [style.--rotation-deg]="(spaceship.rotation * (180 / 3.1415)) + 'deg'"
  [style.height.px]="spaceship.height"
  [style.left.px]="spaceship.cssPosition.x"
  [style.top.px]="spaceship.cssPosition.y"
  [style.width.px]="spaceship.width"
  class="spaceship"
>

  @for (thruster of spaceship.thrusters; track $index) {

    <div
      [style.height.px]="thruster.height"
      [style.left.px]="thruster.cssPosition.x"
      [style.top.px]="thruster.cssPosition.y"
      [style.width.px]="thruster.width"
      [class.thrusting]="thruster.thrust > 0"
      [style.--thrust-intensity]="thruster.thrust"
      class="thruster"
    ></div>

  }

</div>

<!-- <pre class="debug"> --><!--   acceleration: {{ acceleration.x }} {{ acceleration.y }} --><!--   velocity: {{ velocity.x }} {{ velocity.y }} --><!--   position: {{ position?.x }} {{ position?.y }} --><!--   angularVelocity: {{ angularVelocity }} --><!--   rotation: {{ rotation }} --><!-- </pre> -->
